#!name=MOJi辞書
#!desc=MOJi辞書VIP
#!author=chxm1023
#!icon=https://libs.mojidict.com/mojidict-ssr/v4.7.1.20231226/img/favicon.f04fd46.png

^https:\/\/api\.mojidict\.com\/parse\/functions\/getNPrivileges url script-response-body https://raw.githubusercontent.com/chxm1023/Rewrite/main/mojics.js, tag=MoJisho

hostname = api.mojidict.com
